#feuc2013-menu-container {

	clear: both;
}

#feuc2013-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #ddd;
	width: 940px;
	background: gray;
	height: 30px;
	font-family: 'BebasNeue';
	font-size: 25px;
	letter-spacing: 0.04em;
	
	text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#feuc2013-menu li {
	float: left;
	margin: 2px 10px;
}
#feuc2013-menu li a {
	color: inherit;
	text-decoration: none;
}

#feuc2013-menu li.activo a, #feuc2013-menu li a:hover {
	color: white;
	text-shadow: 0 0 4px rgba(0,0,0,0.7);

}

/* =Menu candidatos 
---------------------- */

#feuc2013-candidatos {
	position: absolute;
	top:230px;
	left: 0;
	font-family: 'BebasNeue';
	z-index: 1000;
}

#feuc2013-candidatos li {
	display: block;
	left: -110px;
	position: relative;
	height: 25px;
	margin: 10px 0;
	overflow: hidden;
	text-align: left;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	color: white;
	font-size: 20px;
	white-space: nowrap;
	padding: 3px;
}

#feuc2013-candidatos li.activo {
	left: 0;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);

}

#feuc2013-candidatos li:hover {
	left: 0;
}

#feuc2013-candidatos li a{
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

#feuc2013-candidatos li.oi {background: #1D8AE3;}
#feuc2013-candidatos li.caridad {background: yellow; color: black;}
#feuc2013-candidatos li.unoa {background: #EB8B00;}
#feuc2013-candidatos li.solidaridad {background: red;}
#feuc2013-candidatos li.nau {background: #6FBA16;}
#feuc2013-candidatos li.crecer {background: #A8a8a8;}
#feuc2013-candidatos li.red {background: #7B00FF;}
#feuc2013-candidatos li.independientes {color: black;}



/* Transiciones */
#feuc2013-candidatos li, #feuc2013-menu a {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}



